
.banner .date{
    position: relative;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: 1s;
    z-index: 1000;
 }

 .banner .date.active{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
 }

 .banner .date h2 {
    font-family: 'Racing Sans One', cursive;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 3.8rem;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    -webkit-mask: linear-gradient(#000000 0 0), linear-gradient(#000000 0 0);
    -webkit-mask-clip: text, padding-box;
    -webkit-mask-composite: xor;
 }

 @media only screen and (max-width: 1120px) {
   .banner .date h2 {
      font-size: 3.4rem;
   }
 }
 @media only screen and (max-width: 992px) {
   .banner .date h2 {
      margin-top: 20px;
      font-size: 2.4rem;
      max-width: 100%;
   }
   
 }
 @media only screen and (max-width: 110px) {
   .banner .date h2 {
      font-size: 3.4rem;
   }
 }